<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aqaramp Bot</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
        <style>
        html,body {
            font-family: serif;
        }
        .hero {
            background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
            ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .hero .nav, .hero.is-success .nav {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .hero .title{
            font-style: oblique;
            color: #fff;
        }
        .hero .count:hover{
            color: #00d1b2;
        }
        </style>
    </head>
    <body>
        <section class="hero is-fullheight">
            <div class="hero-head">
                <header class="nav">
                    <div class="container">
                        <div class="nav-left">
                            <a class="nav-item" href="../">
                                Aqaramap
                            </a>
                        </div>
                    </div>
                </header>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                        We've done
                        <a href="./bots" class="count"><%= count %></a>
                        bot
                        </h1>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
