    <%- include('header') %>
    <body>
        <section class="hero is-fullheight">
            <div class="hero-head">
                <header class="nav">
                    <div class="container">
                        <div class="nav-left">
                            <a class="nav-item" href="https://aqarmap.com/">
                                Aqaramap
                            </a>
                        </div>
                    </div>
                </header>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                        We've got
                        <a href="./bots" class="count"><%= count %></a>
                        bot
                        </h1>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
